@model BricksBreaking2Core.Field

@{
    ViewData["Title"] = "Bricks";
}
<!DOCTYPE html>
<html>
<head>
    <title> BricksBreaking</title>
    <link rel="stylesheet" href="/css/win.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">

</head>
<body>

    <div class="game-main-win">

        <div class="table-wrapper">
            <h2>Top scores</h2>


            <table class="game-table fl-table">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Clicks</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
                </thead>
                @foreach (var stu in @Model.dataBases)
                {
                <tr>

                    <td>
                        <p>@stu.Players</p>
                    </td>
                    <td>
                        <p>@stu.Clicks</p>
                    </td>
                    <td>
                        <p>@stu.Scores</p>
                    </td>
                    <td>
                        <p>@stu.Dates</p>
                    </td>

                </tr>

                }
            </table>
        </div>

        <div class="game-info">
            <h1>Congratulations @Model.newName ,you have won!!!</h1>
            <h1>You score = @Model.score</h1>
            <h1>you totl clicks = @Model.click</h1>
            <button class="button-newgame button-win button-newgame-win" role="button"><a href="/">New game</a></button>

        </div>
    </div>
</body>
</html>